<div style="text-align: center; margin: 0 0 30px 0; color: white; background-color: rgba(0,0,0,0.5);">
  <h1>MY PAGE</h1>

<%#プロフィール%>
  <table>
    <tbody>
      <tr>
        <td>
         <div style="margin: 30px;">
          <%= attachment_image_tag(@customer, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"60x60" ) %></td>
         </div>
        <td width="10%"><%= @customer.nickname %></td>
        <td>（<%= @customer.age %>）</td>
        <td><%= @customer.gender %></td>
        <td width="20%">投稿数：<%= @customer.posts.count %></td>
        <td width="70%">
         <div style="margin-left: 50%;">
          <% if @customer.id == current_customer.id %>
            <%= link_to 'プロフィール編集', edit_customer_path, class:" btn btn-danger btn-sm" %>
          <% else %>
          <% end %>
       　</div>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td width="70%">自己紹介：<%= @customer.introduction %></td>
      </tr>
    </tbody>
  </table>
</div>
<%#投稿一覧%>
<div style="text-align: center; margin: 30px 0 0 0; color: white; background-color: rgba(0,0,0,0.5); padding: 20px 0;">
  <h2>投稿一覧</h2>
</div>

　<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th width="15%">店名</th>
      <th width="40%">住所</th>
      <th width="10%">いいね数</th>
      <th width="15%">コメント数</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="name"><%= link_to post.name, post_path(post) %></td>
        <td><%= post.address %></td>
        <td><%= post.favorites.count %></td>
        <td>コメント数: <%= post.comments.count %></td>
        <td>
          <% if post.customer.id == current_customer.id %>
            <%= link_to "編集", edit_post_path(post.id), class:"btn btn-success btn-sm" %>
          <% else %>
          <% end %>
        </td>
        <td>
          <% if post.customer.id == current_customer.id %>
            <%= link_to '削除', post_path(post.id), method: :delete, class:"btn btn-danger btn-sm" %>
          <% else %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
　</table>