<div class="wrappers">
  <div class="container">
    <h1><strong>NEW POST</strong></h1>
<%#新規投稿%>
    <%= form_with model:@post, url:posts_path, local:true do |f| %>
      <table style = "margin-left: 160px;">
        <tr>
　　　　　<td></td>
          <td><%= f.text_field :name, autofocus: true, placeholder: "レストラン名" %></td>
        </tr>

        <tr>
            <td class="text"><%= f.label :イメージ %></td>
            <td><%= f.attachment_field :postimage, autofocus: true %></td>
        </tr>


        <tr>
          <td></td>
          <td><%= f.text_field :address, autofocus: true, placeholder: "所在地" %></td>
        </tr>

        <tr>
          <td></td>
          <td><%= f.text_area :caption, autofocus: true, placeholder: "キャプション" %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div id="evaluate_stars">
              <label>評価</label>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="actions">
              <%= f.submit "投稿" %>
            </div>
          </td>
        </tr>
       </table>
    <% end %>
    <script>
      $('#evaluate_stars').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'post[evaluation]' //登録するモデル名とカラム名を記述
      });
    </script>
  </div>


</div>
