<div class="texts-wrapper">
   <div class="contents-title text-center">
     <div style="width: 40%; margin: auto; ">
         <div style="text-align: center; margin: 30px 0; color: #2f4f4f; border: 0.5rem solid #2f4f4f; border-radius: 12px;">
           <h1><strong>投稿詳細</strong></h1>
         </div>
     </div>
     <%#投稿詳細時%>
     <div class="main">
           <div class="card" style="border: 0.5rem solid #2f4f4f; background-color:rgba(255,255,255,0.25); color: white;">
             <%= attachment_image_tag @post, :postimage, class: "bd-placeholder-img card-img-top" %>
               <div class="card-body">
                 <p class="card-title"><strong>店名</strong>：<%= @post.name %></p>
                 <p><strong>住所</strong>：<%= @post.address %></p>
                 <table style="margin: auto;">
                   <tbody>
                     <tr>
                       <td><%= attachment_image_tag(@post.customer, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"40x40" ) %></td>
                       <td><p class="card-title"><strong><%= @post.customer.nickname %></strong></p></td>
                       <td>（<%= @post.customer.age %>）</td>
                       <td><%= @post.customer.gender %></td>

                       <td id="favorite_buttons_<%= @post.id %>">
                         <%= render "public/favorites/favorites", post: @post %>
                       </td>
                       <td class="post-evaluation" data-score="<%= @post.evaluation %>"></td>
                     </tr>
                   </tbody>
                 </table>
                 <script>
                   $('.post-evaluation').raty({
                     readOnly: true,
                     score: function() {
                       return $(this).attr('data-score');
                     },
                     starOff:  '<%= asset_path('star-off.png') %>',    //imagesフォルダより星画像の呼び出し
                     starOn : '<%= asset_path('star-on.png') %>',
                     starHalf: '<%= asset_path('star-half.png') %>',
                   });
                 </script>
                 <p><strong>caption</strong></p>
                 <div><%= @post.caption %></div>
                 <!--コメント一覧部分-->
                    <!--divタグのclassをid="comments_area"に変更-->
                 <div id="comments_area">
                   <%= render 'public/comments/post_comments', post: @post %>
                 </div>
                 <div class="new-comment">
                   <%= render 'public/comments/form', post: @post, comment: @comment %>
                 </div>
               </div>
           </div>
         </div>
     </div>
     <div style="width: 500px; height: 500px; margin: auto;">
         <canvas id="myChart" ></canvas>
          <script>
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
            type: 'radar',
            data: {
              labels: ["味", "値段", "雰囲気", "アクセス"],
              datasets:
              [
                  {
                  label: 'ステータス',
                  backgroundColor: 'rgba(128,101,75,0.5)',
                  borderColor: 'rgb(128,101,75)',
                  borderWidth: 3,
                  data: [<%= @post.taste %>, <%= @post.price %>, <%= @post.mood %>, <%= @post.access %>]
                  },
              ]
            },
            options: {
                scales: {
                  r: {
                    //グラフの最小値・最大値
                    min: 0,
                    max: 5,

                    //背景色
                    backgroundColor: '#2f4f4f',
                    //グリッドライン
                    grid: {
                      color: 'rgb(105,179,179)',
                    },
                    ticks: {
                        stepSize: 1,
                    },
                    //アングルライン
                    angleLines: {
                      color: 'rgb(105,179,179)',
                      lineWidth: 3,
                    },
                    //各項目のラベル
                    pointLabels: {
                      color: 'white',
                    },
                  },
                },
            },
          });
          </script>
     </div>
   </div>
 </div>