
    <div class="top-visual">
      <div class="visual-image">
        <div class="visual-logo-back">
          <div class="logo-box">
            <div class="visual-logo"> </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
    <%#いいねランキング上位3つ%>
        <% @all_ranks.each do |post| %>
          <div class="col">
            <div class="card h-100">
             <div class="post-image">
              <%= link_to post_path(post.id) do %>
               <%= attachment_image_tag post, :postimage, class:"card-img-top img-responsive" %>
              <% end %>
             </div>
              <div class="card-body text-center">
               <div class="column flex-direction:row">
                 <p class="card-title"><strong>店名：</strong><%= post.name %></p>
                 <p><strong>住所：</strong><%= post.address %></p>
                 <table style="margin: auto;">
                   <tbody>
                     <tr>
                       <td><%= attachment_image_tag(post.customer, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"40x40" ) %></td>
                        <td><p class="card-title"><%= post.customer.nickname %></p></td>
                        <td>（<%= post.customer.age %>）</td>
                        <td><%= post.customer.gender %></td>
                     </tr>
                   </tbody>
                 </table>
                 <table style="margin: auto;">
                   <tbody>
                     <tr>
                        <td>
                         <%= post.favorites.count %>いいね
                        </td>
                        <td class="post-evaluation" data-score="<%= post.evaluation %>"></td>
                     </tr>
                   </tbody>
                 </table>
                 <p><strong>caption</strong></p>
                 <div><%= post.caption %></div>
               </div>
              </div>
            </div>
          </div>
        <%end%>
        <script>
                       $('.post-evaluation').raty({
                         readOnly: true,
                         score: function() {
                           return $(this).attr('data-score');
                         },
                         starOff:  '<%= asset_path('star-off.png') %>',    //imagesフォルダより星画像の呼び出し
                         starOn : '<%= asset_path('star-on.png') %>',
                         starHalf: '<%= asset_path('star-half.png') %>',
                       });
        </script>
    </div>
