<!DOCTYPE html>
<html>
  <head>
    <title>SUSHIP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
  </head>

  <body>
  <div class="splashbg"></div>
    <div id="container">
    <header id="header">
      <div class="header">
        <div id="navArea">
          <h1>SUSHIP</h1>
          <nav class="nav">
            <div class="inner">
              <ul>
                <%#会員のログイン時%>
                <% if customer_signed_in? %>
                  <li>
                    <%= link_to "HOME", root_path %>
                  </li>
                  <li>
                    <%= link_to "ABOUT", homes_about_path %>
                  </li>
                  <li>
                    <%= link_to "MY PAGE", customer_path(current_customer.id) %>
                  </li>
                  <li>
                    <%= link_to "USERS", customers_path %>
                  </li>
                  <li>
                    <%= link_to "POSTS", posts_path %>
                  </li>
                  <li>
                    <%= link_to "NEW POST", new_post_path %>
                  </li>
                  <li>
                    <%= link_to "LOG OUT", destroy_customer_session_path, method: :delete %>
                  </li>
                <%#管理者のログイン時%>
                <% elsif admin_signed_in? %>
                  <li>
                    <%= link_to "HOME", root_path %>
                  </li>
                  <li>
                    <%= link_to "ABOUT", homes_about_path %>
                  </li>
                  <li>
                    <%= link_to "USERS", admin_customers_path %>
                  </li>
                  <li>
                    <%= link_to "POSTS", admin_posts_path %>
                  </li>
                  <li>
                    <%= link_to "LOG OUT", destroy_admin_session_path,  method: :delete %>
                  </li>
                <%#未ログイン時%>
                <% else %>
                  <li>
                    <%= link_to "HOME", root_path %>
                  </li>
                  <li>
                    <%= link_to "ABOUT", homes_about_path %>
                  </li>
                  <li>
                    <%= link_to "SIGN UP", new_customer_registration_path %>
                  </li>
                  <li>
                    <%= link_to "LOG IN", new_customer_session_path %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>

          <div class="btn-trigger"  id="btn19">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div id="mask"></div>

        </div>

      </div>
    </header>
    </div>
    <script src="sample.js"></script>
    <%= yield %>
  </body>
</html>
